#header{
    min-height: 100px;
    margin-top:-8px;
}

#body{
    min-height: 400px;
    padding-top:1%;
    color: #3f5873;
    font-family:garamond;
    padding-bottom:2%;
    background-color: #eff2f6;
    margin-top:0px;
}

#header, #body{
    margin-left:-8px;
    margin-right:-8px;
    max-width:1920px;
    min-width:480px;
    overflow:hidden;
}

.top-right {
    position: absolute;
    top: 27px;
    margin-left:760px; 
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 12px;
    resize: vertical;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-left:79%;
	margin-right:1%;
}

input[type=reset] {
    background-color: grey;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	margin-right:1%;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.listbook{
	width:70%;
	background-color: white;
	margin-left:15%;
	padding:3%;
}