body{
	background: url(images/back.jpg) 100% 100% no-repeat;
	background-size: cover; 
	
	align-items: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.register{
	align-items: center;
	text-align: center;
	border-radius: 5px;
	position: relative;
	background: url(images/pif.jpg) 100% 100% no-repeat;
	background-size: auto;
	width: 550px;
	margin: 0 auto;
	height: 390px;
	top:100px;
	padding:  8PX;
}
.form1{
	align-items: center;
}
input{
	border-radius: 6px;
	width: 300px;
	padding: 10px;
	border-width: 0.5px;
}
.number, .name, .password{
	margin-top: 15px;
}
.btn1{
	
	
	position: relative;
	
	background: rgba(76, 175, 80, 0.3);
	color:#fffffe;
	border-radius: 5px;
	width: 500px;
	text-decoration: none;
	height: 40px;

}
.btn2{
	position: absolute;
	left: 134px;
	background-color: green;
	border-radius: 5px;
	color:#fffffe;
	font-family: Times New Roman;
	width: 300px;
	text-decoration: none;
	height: 40px;

}
